apiclient == 1.0.4 ; python_version < '3.0'
google-api-python-client == 1.7.11 ; python_version < '3.0'
google-auth == 1.11.2 ; python_version < '3.0'
google-auth-httplib2 == 0.0.3 ; python_version < '3.0'
google-auth-oauthlib == 0.4.1 ; python_version < '3.0'
numpy == 1.16.6 ; python_version < '3.0'
oauth2client == 4.1.3 ; python_version < '3.0'
oauthlib == 3.1.0 ; python_version < '3.0'
pandas == 0.24.2 ; python_version < '3.0'
psycopg2 == 2.8.4 ; python_version < '3.0'
apiclient ; python_version > '3.0'
google-api-python-client ; python_version > '3.0'
google-auth ; python_version > '3.0'
google-auth-httplib2 ; python_version > '3.0'
google-auth-oauthlib ; python_version > '3.0'
numpy ; python_version > '3.0'
oauth2client ; python_version > '3.0'
oauthlib ; python_version > '3.0'
pandas ; python_version > '3.0'
psycopg2 ; python_version > '3.0'
matplotlib ; python_version > '3.0'
country_list ; python_version > '3.0'

